<p>component1 works!</p>

<div>
<p>Nombre delccliente: {{customer}}</p>
<p>Edad delccliente: {{age}}</p>
</div>
<table>
  <tr><td>Años</td></tr>
  <tr *ngFor="let anyo of years">
    <td>{{anyo}}</td>
  </tr>
</table>

<div>
  <p *ngIf="age < 18; else elseBlock">Eres menor</p>
  <ng-template #elseBlock>Eres mayor</ng-template>
  <p *ngIf="age>18">Eres mayor</p>

  <p>Escribe tu nombre <input type="text" [(ngModel)]="nom"></p>
  {{nom}}
</div>

<div>

<!-- EVENTOS ANGULAR -->
<button (click)="subir()">Sube!</button>
{{valor}}
</div>


<br>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fruta of frutas">
      <td>{{ fruta.nombre }}</td>
      <td>{{ fruta.precio }}</td>
      <td>{{ fruta.cantidad }}</td>
      <td><button (click)="borrar(fruta.nombre)">Borrar!</button></td>
    </tr>
  </tbody>
</table>

